@model UserForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
}
<html lang="en">
    <head>
        <style>
            .myForm {
                min-width: 500px;
                position: absolute;
                text-align: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 2.5rem
            }

        </style>
    </head>

<body class="text-center">
    <form method="post" asp-action="ForgotPassword" class="col-lg-6 offset-lg-3">
        <div class="row justify-content-center" style="margin: 10% 0 0 0">


            <div class="h3 mb-3 font-weight-normal" style="text-align: center; margin-bottom: 5%">
                <h1>Change Password</h1>
            </div>

            <div style="margin-bottom: 5%; margin-top: 2%">
                <label asp-for="Email" class="sr-only">Email</label>
                <input asp-for="Email" class="form-control" placeholder="email@email.com">
            </div>

            <div style="margin-bottom: 5%; margin-top: 2%">
                <label asp-for="NewPassword" class="sr-only">New Password</label>
                <input asp-for="NewPassword" class="form-control" placeholder="">
            </div>
            @if (ViewBag.Errors != null)
            {
                <div class="alert alert-danger" role="alert">
                    @if (ViewBag.Errors.Count > 1)
                    {
                        @foreach (var error in ViewBag.Errors)
                        {
                            @error <br />
                        }
                    }
                    else
                    {
                        @ViewBag.Errors[0]
                    }
                </div>
            }
            <button class="btn btn-lg btn-outline-success btn-block" style="margin-top: 5%" type="submit">Change Password</button>
            <p class="mt-5 mb-3 text-muted"></p>
        </div>
    </form>
    </body>
</html>