.sliding-text {
    margin: 0;
    background-color: #073072;
    width: 100%;
    box-sizing: border-box;
}

.sliding-text marquee {
    margin: 0;
    padding: 0;
}

.sliding-text span {
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    color: rgb(255, 244, 79);
}